<div class="match-admin">
    <h2>Meccsek kezelése</h2> 
  
    <form (ngSubmit)="saveMatch()" class="match-form">
      <label>Dátum:</label>
      <input type="datetime-local" [(ngModel)]="newMatch.date" name="date" required>
  
      <label>Sorozat:</label>
      <select [(ngModel)]="newMatch.competition" name="competition" required>
        <option *ngFor="let tournament of availableTournaments" [value]="tournament">
          {{ tournament }}
        </option>
      </select>
  
      <label>Meccsnap:</label>
      <input type="text" [(ngModel)]="newMatch.matchday" name="matchday" required>
  
      <label>Ellenfél:</label>
      <input type="text" [(ngModel)]="newMatch.opponent" name="opponent" required>
  
      <label>Helyszín:</label>
      <div class="home-options">
      <label><input type="radio" name="home" value="home" [(ngModel)]="newMatch.home"> Hazai</label>
      <label><input type="radio" name="home" value="away" [(ngModel)]="newMatch.home"> Idegenbeli</label>
      <label><input type="radio" name="home" value="neutral" [(ngModel)]="newMatch.home"> Semleges</label>
      </div>
  
      <label>Eredmény (opcionális):</label>
      <input type="text" [(ngModel)]="newMatch.score" name="score">
  
      <button type="submit">{{ editingMatch ? 'Mentés' : 'Hozzáadás' }}</button>
      <button type="button" (click)="resetForm()">Mégse</button>
    </form>
  
    <hr>
    <div class="filter-bar">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        (input)="onSearchChange()"
        placeholder="Keresés ellenfélre..."
        class="filter-input"
      />
    
      <select
        [(ngModel)]="selectedTournament"
        (change)="onTournamentChange()"
        class="filter-select"
      >
        <option value="">Összes sorozat</option>
        <option value="La Liga">La Liga</option>
        <option value="Bajnokok Ligája">Bajnokok Ligája</option>
        <option value="Copa del Rey">Copa del Rey</option>
        <option value="Szuperkupa">Szuperkupa</option>
      </select>
    </div>
    <ul class="match-list">
      <li *ngFor="let match of filteredMatches">
        <strong>{{ match.date | date:'short' }}</strong> – {{ match.home ? 'FC Barcelona' : match.opponent }}
        vs
        {{ match.home ? match.opponent : 'FC Barcelona' }}
        <span *ngIf="match.score"> ({{ match.score }})</span>
  
        <button (click)="editMatch(match)">Szerkesztés</button>
        <button (click)="deleteMatch(match._id!)">Törlés</button>
      </li>
    </ul>
  </div>
  