<nav class="menu-container"
[class.hovered]="!isProductDetail && hovered"
[class.hidden]="!isProductDetail && !isVisible"
[class.returning]="!isProductDetail && isReturning"
[class.force-bg]="isProductDetail" (mouseenter)="hovered = true"(mouseleave)="hovered = false">

  <img routerLink="/home" src="assets/home/logo.png" alt="FCB Logo" class="logo" />

  <div class="nav-links">
    <div class="dropdown">
      <a class="main-link">First Team</a>
      <div class="dropdown-content">
        <a routerLink="/matches">Meccsek</a>
        <a routerLink="/players">Játékosok</a>
      </div>
    </div>

    <a routerLink="/shop">Shop</a>

    <div class="dropdown">
      <a  *ngIf="isLoggedIn" class="main-link">Social</a>
      <div class="dropdown-content">
        <a routerLink="/forum">Fórum</a>
        <a routerLink="/polls">Szavazások</a>
        <a routerLink="/leaderboard">Ranglista</a>
      </div>
    </div>

    <div class="dropdown">
      <a  *ngIf="isAdmin" class="main-link">Admin</a>
      <div class="dropdown-content">
        <a routerLink="/admin/orders">Rendelések</a>
        <a routerLink="/admin/poll">Szavazások</a>

        <a routerLink="/news/create">Hírek</a>
        <a routerLink="/shop/admin">Termékek</a>
        <a routerLink="/admin/matches">Meccsnaptár</a>
        <a routerLink="/admin/players">Csapat</a>
        
      </div>
    </div>
  </div>


  <div class="right-icons">
    <div class="cart-icon" routerLink="/cart">
      <i class="bx bx-cart"></i>
      <span *ngIf="cartItemCount > 0" class="cart-badge">{{ cartItemCount }}</span>
    </div>
  
    <div class="burger-menu">
      <i class="bx bx-menu"></i>
      <div class="burger-dropdown">
        <ng-container *ngIf="isLoggedIn; else guestLinks">
          <a routerLink="/profile">
            <i class="bx bxs-user"></i>
            Profil
          </a>
          <a (click)="logout()">
            <i class="bx bxs-log-out"></i>
            Kijelentkezés
          </a>
        </ng-container>
        <ng-template #guestLinks>
          <a routerLink="/login">
            <i class="bx bxs-log-in"></i>
            Bejelentkezés
          </a>
          <a routerLink="/register">
            <i class="bx bxs-user-plus"></i>
            Regisztráció
          </a>
        </ng-template>
      </div>
    </div>
  </div>
  


</nav>
