<nav>
  <div *ngIf="isLoggedIn && !isAdmin">
    <a routerLink="/home">Főoldal</a>
    <a routerLink="/matches">Meccsek</a>
    <a routerLink="/players">Csapat</a>
    <a routerLink="/shop">Shop</a>
    <a routerLink="/cart">Kosár</a>
    <a routerLink="/polls" *ngIf="isLoggedIn">Szavazások</a>
    <a routerLink="/leaderboard" *ngIf="isLoggedIn">Toplista</a>
    <a routerLink="/forum" *ngIf="isLoggedIn">Fórum</a>
    <a routerLink="/profile">Profil</a>
  </div>

  <!-- Admin menü -->
  <div *ngIf="isAdmin">
    <hr />
    <a routerLink="/news/create">Hír hozzáadása</a>
    <a routerLink="/shop/admin">Termékek kezelése</a>
    <a routerLink="/admin/orders">Rendelések kezelése</a>
    <a routerLink="/admin/matches">Meccsek kezelése</a>
    <a routerLink="/admin/players">Játékosok kezelése</a>
    <a routerLink="/admin/poll">Szavazások kezelése</a>
    <a routerLink="/forum" *ngIf="isLoggedIn">Fórum</a>
    <a routerLink="/profile">Profil</a>
  </div>

  <!-- Nincs bejelentkezve -->
  <div *ngIf="!isLoggedIn">
    <a routerLink="/home">Főoldal</a>
    <a routerLink="/matches">Meccsek</a>
    <a routerLink="/players">Csapat</a>
    <a routerLink="/shop">Shop</a>
    <a routerLink="/login">Bejelentkezés</a>
    <a routerLink="/register">Regisztráció</a>
  </div>
</nav>
