<section class="news-detail scroll-fade-in" #fadeElement *ngIf="newsItem">
  <div class="back-button-container scroll-fade-in" #fadeElement>
    <a routerLink="/home" class="back-button">← Vissza a főoldalra</a>
  </div>

  <div class="news-container">

    <!-- Kép felül, középre igazítva -->
    <div class="news-image">
      <img [src]="newsItem.imageUrl" [alt]="newsItem.title">
    </div>

    <!-- Szöveg -->
    <div class="news-content">
      <h1>{{ newsItem.title }}</h1>
      <p class="content">{{ newsItem.content }}</p>
    </div>

  </div>
</section>

