<div class="register-container">
  <div class="register-card">

    <img src="assets/home/logo.png" alt="FC Barcelona" class="logo" />

    <h2>Regisztráció</h2>

    <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm" class="register-form">

      <div class="form-group">
        <input
          type="text"
          id="username"
          name="username"
          placeholder=" "
          ngModel
          required
        />
        <label for="username">Felhasználónév</label>
      </div>

      <div class="form-group">
        <input
          type="email"
          id="email"
          name="email"
          placeholder=" "
          ngModel
          required
        />
        <label for="email">Email</label>
      </div>

      <div class="form-group">
        <input
          type="password"
          id="password"
          name="password"
          placeholder=" "
          ngModel
          required
        />
        <label for="password">Jelszó</label>
      </div>

      <button
        type="submit"
        [disabled]="!registerForm.valid"
        (click)="onButtonClick()"
        class="register-btn"
      >
        Regisztráció
      </button>
    </form>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>


    <div class="switch-link">
      <span>Már van fiókod?</span>
      <a routerLink="/login" class="animated-link">Jelentkezz be</a>
    </div>

    
  </div>
</div>
