<section class="product-detail scroll-fade-in" #fadeElement>
  <div class="back-button-container scroll-fade-in" #fadeElement>
    <a routerLink="/shop" class="back-button">← Vissza a termékekhez</a>
  </div>
  <div class="product-container">

    <!-- Bal oldal: kép -->
    <div class="product-image">
      <img [src]="product?.imageUrl" [alt]="product?.name">
    </div>

    <!-- Jobb oldal: adatok -->
    <div class="product-info">
      <h1>{{ product?.name }}</h1>
      <h2>{{ product?.price | currency:'HUF':'symbol':'1.0-0':'hu' }}</h2>

      <p class="category">{{ product?.category }}</p>

      <div class="selectors"> 
        <div class="select-group">
          <label for="playerSelect">Játékos kiválasztása</label>
          <select [(ngModel)]="selectedPlayer">
            <option value="">Válassz játékost</option>
            <option *ngFor="let player of players" [value]="player._id">
              {{ player.name }}
            </option>
          </select>
        </div>
      
        <div class="select-group">
          <label for="sizeSelect">Méret</label>
          <select id="sizeSelect" [(ngModel)]="selectedSize">
            <option *ngFor="let s of sizes" [value]="s">{{ s }}</option>
          </select>
        </div>
      </div>
      

      <button class="add-to-cart"  (click)="onButtonClick()" (click)="addToCart()">Kosárba</button>

      <div class="description">
        <h3>Termék leírása</h3>
        <p>{{ product?.description }}</p>
      </div>
    </div>

  </div>
</section>

