<div class="product-admin-container">
  <h2>{{ selectedProduct ? 'Termék szerkesztése' : 'Új termék létrehozása' }}</h2>

  <form [formGroup]="productForm" (ngSubmit)="submit()" id="productForm">
    <label for="name">Név</label>
    <input id="name" type="text" formControlName="name" />

    <label for="description">Leírás</label>
    <textarea id="description" rows="3" formControlName="description"></textarea>

    <label for="price">Ár (HUF)</label>
    <input id="price" type="number" formControlName="price" />

    <!-- ÚJ: Kép feltöltés fájlból -->
    <label for="image">Termékkép</label>
    <input id="image" type="file" (change)="onFileSelected($event)" />

    

    <label for="category">Kategória</label>
    <input id="category" type="text" formControlName="category" />

    <div class="form-buttons">
      <button type="submit" [disabled]="isSubmitting">
        {{ selectedProduct ? 'Frissítés' : 'Létrehozás' }}
      </button>
      <button type="button" class="cancel" *ngIf="selectedProduct" (click)="clearForm()">Mégse</button>
    </div>
  </form>

  <h2>Termékek kezelése</h2>

  <input
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="Keresés név alapján..."
    class="search-bar"
  />

  <div class="product-grid">
    <div *ngFor="let product of filteredProducts()" class="product-card">
      <img [src]="product.imageUrl" alt="Termék képe" />
      <div class="product-content">
        <h4>{{ product.name }}</h4>
        <p>{{ product.category }}</p>
        <p><strong>{{ product.price | number:'1.0-0' }} Ft</strong></p>
        <div class="product-actions">
          <button (click)="edit(product)">Szerkesztés</button>
          <button (click)="deleteProduct(product._id!)">Törlés</button>
        </div>
      </div>
    </div>
  </div>
</div>
