<div class="match-list">
    <h2>Meccsek</h2>
    <div *ngIf="allMatches.length === 0">Nincs még elérhető meccs.</div>
    <ul>
      <li *ngFor="let match of allMatches">
        <strong>{{ match.date | date:'short' }}</strong> – {{ formatTeams(match) }}
        <span class="badge">{{ match.competition }} • {{ match.matchday }}. forduló</span>
        <button *ngIf="!match.score" [routerLink]="['/tickets/purchase', match._id] " class="ticket-button" (click)="onButtonClick()">
          Jegyvásárlás
        </button>
      </li>
    </ul>
  </div>
  