.match-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;

  h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #002868;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      background: #f9f9f9;
      padding: 1rem;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

      p {
        margin: 0.3rem 0;
        font-size: 0.95rem;

        strong {
          color: #ae1c28;
        }
      }

      span {
        display: block;
        font-size: 0.85rem;
        color: #555;
      }
    }
  }
}

.ticket-button {
  margin-top: 0.5rem;
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  background-color: #002868; // Barcelona kék
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ae1c28; // Barcelona bordó
  }
}
